/*
 * -------------------------------------------------
 *  Nextflow config file for running a test
 * -------------------------------------------------
 * Defines example parameters to run a fast and simple test. 
 * Use as follows:
 *   nextflow run cgpu/append-suffix -profile test
 */

params {
  // A csv file of any number of columns without a header
  input = "$baseDir/testdata/lalo.csv"
}